*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.toolbar{
  height: 100vh;
  width: 200px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #202020;
  box-shadow: 5px 0px 20px 5px white;
}

.bar{
  height: 60px;
  width: 100%;
  border-bottom: 1px solid #404040;
}

.buttons-container{
  height: calc(100vh - 300px);
  width: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.buttons-inner-container{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 190px;
}

.buttons-container::-webkit-scrollbar {
  width: 10px;
}

.buttons-container::-webkit-scrollbar-track {
  background: #202020;
}

.buttons-container::-webkit-scrollbar-thumb {
  background-color: #505050;
  border-radius: 20px;
  border: 3px solid #202020;
}

.buttons-row{
  display: flex;
  justify-content: space-evenly;
  margin: 6px 0;
}

.button{
  height: 50px;
  width: 50px;
  border-radius: 5px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button:hover{
  background-color: #ffffff80;
}

.button i{
  color: #ffffff;
}

.button-drop-down{
  height: 150px;
  width: 100%;
  background-color: #353535;
  border-top: 1px solid #404040;
  border-bottom: 1px solid #404040;
  display: flex;
  flex-direction: column;
  /* justify-content: space-evenly; */
}

.button-drop-down-row{
  display: flex;
  justify-content: space-evenly;
}

.input-text{
  color: #d3d3d3
}

.style{
  height: 140px;
  width: 100%;
  border-top: 1px solid #404040;
  border-bottom: 1px solid #404040;
  padding: 5px 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 30px 30px 30px 1fr;
  grid-template-areas: 
  "fill-check indicator"
  "fill-color indicator"
  "line-color indicator"
  "line-size line-size";
}

.fill-check{
  grid-area: fill-check;
}

.fill-color{
  grid-area: fill-color;
}

.line-color{
  grid-area: line-color;
}

.line-size{
  grid-area: line-size;
}

.line-color, .fill-color, .fill-check{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 3px;
}

.pickr{
  position: unset;
  height: 12px;
  width: 12px;
  display: flex;
  align-items: center;
}

.pickr .pcr-button{
  position: unset;
  height: 12px !important;
  width: 12px !important;
}

.pickr .pcr-button::before, .pickr .pcr-button::after{
  border-radius: 0!important;
}


.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 5px;
  border-radius: 5px;  
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 13px;
  height: 13px;
  border-radius: 50%; 
  background: #4CAF50;
  cursor: pointer;
}

.size-indicator{
  margin: 4px 0 0 4px;
  border: 1px solid #353535;
  grid-area: indicator;
  display: flex;
  justify-content: center;
  align-items: center;
}

.style p{
  color: #808080;
  display: inline;
}

.ind-box{
  height: 5px;
  width: 5px;
  border: 1px solid #808080;
  border-radius: 50%;
}

.instructions{
  height: 90px;
  width: calc(100%-10px);
  margin: 5px;
  padding: 5px;
  border-radius: 6px;
  background-color: #ffffff;
}

.canvas-container{
  height: 100vh;
  width: calc(100vw - 200px);
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: #404040;
}

.canvas-inner-container{
  height: calc(100vh - 20px);
  width: calc(100vw - 220px);
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #ffffff;
  overflow: auto;
}

.canvas-background{
  background-color: #ffffff;
  /* background-image: url(../assets/transparent.png); */
  height: 720px;
  width: 1280px;
}

.canvas {
  border: 1px #000000;
  background-color: transparent;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

#canvas-draft {
  z-index: 1;
}

.canvas-inner-container::-webkit-scrollbar {
  height: 12px;
  width: 12px;
}

.canvas-inner-container::-webkit-scrollbar-track {
  background: #ffffff;
}

.canvas-inner-container::-webkit-scrollbar-thumb {
  background-color: #707070;
  border-radius: 20px;
  border: 3px solid #ffffff;
}

.canvas:hover{
  cursor: none ;
}

.cursor{
  height: 5px;
  width: 5px;
  border: 1px solid #000000aa;
  border-radius: 50%;
  display: none;
  position: absolute;
}

#textInput{
  position: absolute;
  z-index: 5;
}